body{
	color:coral;
	font-family: Tajawal, sans-serif;
}

header{
	background-color: blanchedalmond;
}

h1{
	margin:30px;
}

a{
	color: coral;
	text-decoration: none;
}

a:hover{
	color:#CB480D;
	text-decoration: none;
}

footer{
	margin: 1%;
}

.flex_container{
	display:flex;
	flex-direction: row;
}

.main{
	width: 80%;
	margin: 1%;
}

.nav{
	width: 20%;
	margin: 20px;
}

.image{
	margin: 1%;
}

.photodesc{
	font-size: 75%;
}


/*need mobile and tablet styling*/

@media only screen and (max-width: 768px){}

@media only screen and (max-width: 1024px){}