body{
    color:coral;
    font-family: Tajawal, sans-serif;
}

header{
    background-color: blanchedalmond;
}

h1{
    margin:30px;
}

a{
    color: coral;
    text-decoration: none;
}
a:hover{
    color:#CB480D;
    text-decoration: none;
}
footer{
    margin: 1%;
    font-size: 60%;
}
.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
}

header {background: coral;color:white;}
footer {background: coral;color:white;}
.nav {background:blanchedalmond;}

.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul a {
    text-decoration: none;
}

@media all and (min-width: 768px) {
{-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    .nav {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    .article {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    footer {-webkit-order:3;order:3;}
}